# Welcome to Python for Beginners!

Use shift and Enter to run your code in each cell!

Let's Begin with a print statement:

In [1]:
print("Welcome!")

Welcome!

We can have more than one parameter in the print function seperated by commas. Note that comma adds a space between parameters.

In [2]:
print ("Welcome", "to python!")

Welcome to python!

In [3]:
print('Welcome to Python!')

Welcome to Python!

In [4]:
print("It's a lovely day.")

It's a lovely day.

In [5]:
print('"Lovely day", She said.')

"Lovely day", She said.

In [6]:
print('''"Its's a lovely day.", She said.''')

"Its's a lovely day.", She said.

In [7]:
print(""""Its's a lovely day.", She said.""")

"Its's a lovely day.", She said.

In [8]:
print("\"Its's a lovely day.\", She said:")

"Its's a lovely day.", She said:

In [9]:
print("""A message 
spanning accross
multiple lines""")

A message
spanning accross
multiple lines

In [10]:
print("A message \nspanning accross \nmultiple lines")

A message
spanning accross
multiple lines

In [11]:
print(1,2,3, 3+1, "Go")

1 2 3 4 Go

# Variables and Data Types

In [12]:
var = 5
type(var)

int

In [13]:
age = 20
print(type(age))

<class 'int'>

In [14]:
fruit = "Apple"
print(type(fruit))

<class 'str'>

In [15]:
gpa = 3.75
print(type(gpa))

<class 'float'>

In [16]:
enrolled = False
print(type(enrolled))

<class 'bool'>

# Constants

In the example below, PI is a constant and radius is a variable. PI and radius are used to define another variable named circle_area:

In [17]:
# Calculate area of a circle
PI = 3.14
radius = 10
circle_area = PI * radius ** 2
print ("The area of the circle is" , circle_area)

The area of the circle is 314.0

# Simple Math Operators

In [18]:
1 + 2

3

In [19]:
print(1 + 2)

3

In [20]:
print("1 + 2")

1 + 2

In [21]:
25//4

6

In [22]:
25%4

1

In [23]:
25/4

6.25

In [24]:
x = 5+4*9//6
print(x)

11

In [25]:
x = (5+4)*9//6
print(x)

13

In [26]:
# calculate number of turns of 1 Radian.
PI = 3.14
turns = 1/2*PI # WRONG - evaluates to 0.5*pi, i.e. turns = 1.57
print(turns)

turns = 1/(2*PI)# evaluates to 1/6.28, i.e. turns = 0.16
print(turns)

1.57
0.1592356687898089

In [27]:
count = 0
count = count + 10
print(count)

10

In [28]:
count = 0
count += 10 # count = count + 10
print(count)

10

In [29]:
# variables
nStudents = 40
nTeams = 5

# Minimum number of students per team
nMembers = nStudents // nTeams
print(nMembers)

8

# Comments

In [30]:
# This is a single line comment. It will not be executed

In [31]:
'''

This is a multi-line comment
as you can see.

'''
print("The comments above will not be executed")

The comments above will not be executed

In [32]:
"""

This is a multi-line comment
as well.

"""

print("The comments above will not be executed")

The comments above will not be executed

# Errors

In [38]:
print("Example)

SyntaxError: EOL while scanning string literal (<ipython-input-38-fd7b8ef3772e>, line 1)

In [37]:
num = 10
denom = 0
fraction = num / denom
print(fraction)

ZeroDivisionError: division by zero

### Now test your understanding by attempting the following practice exercises:


1. Define nearest city as Boston. Then use the variable name to print.

2. Define width as 10 and height as 20 and compute width * height and assign it to area of rectangle and print the area. Use variable naming convention.

3. 3. Evaluate the following in the print function:

    a) Define number1 to be 72 and number2 to be 7, evaluate number1/number2.
    
    b) Re-assign number1 to be 17.8899 and number2 to be 2, evaluate number1 - number2.
    
    c) Assign 45 to variable base and 5 to variable exp. Evaluate base raised to the power of exp.

4. What is wrong with defining print = "Total"?