## Built-in Functions

### type() function

In [1]:
age = 20
print(age, type(age))

fruit = "Apple"
print(fruit, type(fruit))

gpa = 3.75
print(gpa, type(gpa))

enrolled = False
print(enrolled, type(enrolled))

20 <class 'int'>
Apple <class 'str'>
3.75 <class 'float'>
False <class 'bool'>

### Type Conversion or Casting

In [2]:
int(8.3)

8

In [3]:
int(8.8)

8

In [4]:
float(9)

9.0

In [5]:
int("123")

123

In [6]:
str(123)

'123'

In [7]:
bool(0)

False

In [8]:
bool(0.0)

False

In [9]:
bool("")

False

In [10]:
bool(" ")

True

In [11]:
bool("Hello")

True

In [12]:
var = '100'
age = 20
fruit = "Apple"
gpa = 3.75

In [13]:
int(var)

100

In [14]:
str(gpa)

'3.75'

In [15]:
bool(fruit)

True

In [16]:
float(fruit) # gives ValueError

ValueError: could not convert string to float: 'Apple'

### id() function

In [17]:
age = 20
print(age, id(age))

fruit = "Apple"
print(fruit, id(fruit))

gpa = 3.75
print(gpa, id(gpa))

enrolled = False
print(enrolled, id(enrolled))

20 4353767424
Apple 4409005760
3.75 4408608376
False 4353364368

In [18]:
age = 40
print(age, id(age))
age = 20
print(age, id(age))

40 4353768064
20 4353767424

In [19]:
%who

age	 enrolled	 fruit	 gpa	 var

In [20]:
id(print())

4353464424

In [21]:
del age

In [22]:
%who

enrolled	 fruit	 gpa	 var

In [23]:
print(age)

NameError: name 'age' is not defined

## Immutability of integers, floats and strings

In [24]:
a = 15
b = a
print ("a =", a,"and b =", b)

a = 15 and b = 15

In [25]:
print ("address of a =", id(a))
print ("address of b =", id(b))

address of a = 4353767264
address of b = 4353767264

This is because both a and b are pointing to the same object in memory. But as soon as we try to change the value, another object is created in memory.

In [26]:
a = a + 10
print ("a =", a,"and b =", b)

a = 25 and b = 15

In [27]:
print ("address of a =", id(a))
print ("address of b =", id(b))

address of a = 4353767584
address of b = 4353767264

Same goes with floats and strings.

In [28]:
snack = "apple"
print(snack, type(snack), id(snack))

snack = "pear"
print(snack, type(snack), id(snack))

apple <class 'str'> 4409475512
pear <class 'str'> 4409475568

In [29]:
c = 5.1
print(c , type(c), id(c))

c += 1  # same as c = c + 1
print(c, type(c), id(c))

5.1 <class 'float'> 4408607872
6.1 <class 'float'> 4408608640

### Now test your understanding by attempting the following practice exercises:

1. Pick a number from 10 to 25 and assign it to variable age. Then convert variable age to float and assign it to variable age_float. Convert variable age to string and assign it to variable age_string. Print age, age_float, age_string along with their types.

In [30]:
age = 15
age_float = float(age)
age_string = str(age)
print(age, type(age))
print(age_float, type(age_float))
print(age_string, type(age_string))

15 <class 'int'>
15.0 <class 'float'>
15 <class 'str'>

In [36]:
age

15

In [34]:
age_string

'15'

In [32]:
print(age_string)

15

In [33]:
print("Hello World!")

Hello World!

2. a) If weight = “153”, how would you convert weight into int? How would you convert weight into float? Print the output of each conversion.

    b) If possible convert weight = “87Kg” to float. If not explain.

In [37]:
weight = "153"
print(int(weight), float(weight))

153 153.0

In [39]:
weight = "87kg"
print(float(weight))

ValueError: could not convert string to float: '87kg'

3. What is

    a) bool(0+ 10)?

    b) bool(“” + “a”)?

    c) bool(0.0 + 0.0)?

In [41]:
bool( 0 + 10)

True

In [40]:
bool("" + "a")

True

In [42]:
bool(0.0 + 0.0)

False