## Built-in Functions: Standard Input and Standard Output

### Standard Input

In [1]:
input("Please enter your name: ")

Please enter your name: Sara

'Sara'

In [2]:
name = input("Please enter your name: ")
print("Hi", name)

Please enter your name: Alison
Hi Alison

In [3]:
name

'Alison'

In [4]:
type(name)

str

In [5]:
yearOfBirth = input("What year were you born? ")
currentYear = input("What year are we in now? ")

What year were you born? 1950
What year are we in now? 2020

In [6]:
yearOfBirth

'1950'

In [7]:
type(yearOfBirth)

str

In [9]:
age = int(currentYear) - int(yearOfBirth)

In [10]:
print(age)

70

In [11]:
yearOfBirth = input("What year were you born? ")
currentYear = input("What year are we in now? ")
age = int(currentYear) - int(yearOfBirth)
print(name, "is", age, "years old.")

What year were you born? 2003
What year are we in now? 2050
Alison is 47 years old.

In [12]:
yearOfBirth = int(input("What year were you born? "))
currentYear = int(input("What year are we in now? "))
age = currentYear - yearOfBirth
print(name, "is", age, "years old.")

What year were you born? 2000
What year are we in now? 2020
Alison is 20 years old.

### Standard Output

We have already seen print statments where we print to the screen. Now lets learn more about print statement.

In [13]:
print("Function:")
print("Named set of statements!")

Function:
Named set of statements!

In [14]:
print ("Function:", "Named set of statements!")

Function: Named set of statements!

In [15]:
print("Function:", end = " ")
print("Named set of statements!")

Function: Named set of statements!

This is because in the first print() statement we specify the space to be the final string to be printed instead of newline character. Now let's explore more.

In [16]:
?print

As we have seen comma adds a space between items.  You can choose the separators between items to be anything other than space.

In [17]:
print ("Function:", "Named set of statements!", sep="   ")

Function:   Named set of statements!

In [18]:
print ("Function:", "Named set of statements!", "!!!", sep = "__")

Function:__Named set of statements!__!!!

You can remove the space added by comma like below:

In [19]:
print("5" , "/" , "9", "/", "2009")
print("5" , "/" , "9", "/", "2009", sep = "")

5 / 9 / 2009
5/9/2009

You may use both end and sep arguments together.

In [20]:
print("Please enter your age", name , ":")
age = input()

Please enter your age Alison :
25

In [21]:
print("Please enter your age ", name , ":", sep = "", end = " ")
age = input()

Please enter your age Alison: 25

In [22]:
# This is an example of using string concatenation
age = input("Please enter your age "+ name + ": ")

Please enter your age Alison: 25

### Now test your understanding by attempting the following practice exercises:

1. Get a positive number from the user and convert it into float. Then divide it by 5 in the print function.

In [23]:
user_input = float(input("Please enter a positive number: "))
print(user_input / 5)

Please enter a positive number: 45
9.0

2. Use two print functions to print "Daily" and "Practice" in the same line.

In [25]:
print("Daily", end = " ")
print("Practice")

Daily Practice